<header>
  <div class="nav-container">
    <div class="logo">🌿 EcoMate</div>
    <nav class="nav-links">
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Register</a>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/log-activity" routerLinkActive="active">Log Activity</a>
      <a routerLink="/activity-history" routerLinkActive="active">Activity History</a>
      <a routerLink="/communities" routerLinkActive="active">Communities</a>
<a routerLink="/eco-feed" routerLinkActive="active">Eco Feed</a>

    </nav>
  </div>
</header>

<router-outlet></router-outlet>
